
<div class="container mt-20 list">
    <div id="content-container" class="container">
        <div class="row">
            <div class="col-md-3">
                {include file="common/sidenav" /}
            </div>
                <div class="col-md-9">
                    <div class="panel panel-default panel-user">
                        <div class="panel-body">
                            <div class="page-header panel-post">
                                <h2>Excel导入模板</h2>
                            </div>
                    <ol>
                        <li><a href="{:url('index/cms.rdsystem/download?file=mxz')}">明细账导入Excel模板</a> </li>
                        <li><a href="{:url('index/cms.rdsystem/download?file=fymx')}">明细账导入费用明细Excel模板</a> </li>
                        <li><a href="{:url('index/cms.rdsystem/download?file=xm')}">研发项目导入Excel模板</a> </li>

                    </ol>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>