<style>
    .panel-post {
        position: relative;
    }

    .btn-post {
        position: absolute;
        right: 0;
        bottom: 10px;
    }

    .img-border {
        border-radius: 5px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    }
    input[type="file"]{
        display: none;
    }
</style>
<script src="/assets/libs/jquery/dist/jquery.js"></script>
<script src="/assets/libs/fastadmin-layer/dist/layer.js"></script>

<script>
    var item = 0;
    var count = new Array();
    $(function () {
        datalength = $("input[name=btSelectItem]").length;

        $("#Selectyear").on('change', function () {
            var year = $(this).val();
            location.href = "/index/cms.rdsystem/project?year=" + year;
        });
    });

    function edit(id) {
        var url = "{:url('index/cms.diyform/index?diyname=Project')}";
        url += '?id='+id;
        window.location.href=url;
    }

    function del(id) {
        //询问框
        layer.confirm('是否删除该条记录？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            var ids = new Array();
            ids.push(id);
            ids = ids.join(',');
            $.ajax({
                url:"{:url('index/cms.rdsystem/delete')}",
                type:'post',
                data : {id:ids,diyname:'Project'},
                success : function(data){
                    if(data.code==1){
                        layer.msg(data.msg,{time: 500});
                        location.reload();
                    }else{
                        layer.msg('删除失败',{time: 500});
                    }
                }
            });
        }, function(){
            //
        });

    }

    function btSelectAll(){
        var itemArr = $("input[name=btSelectItem]");
        if($("input[name=btSelectAll]").is(':checked')) {
            item = datalength;
            $("input[name=btSelectItem]").prop('checked',true);
            $.each(itemArr,function (i,d) {
                count.push(parseFloat($(this).attr('val')));
            })
        }else{
            $("input[name=btSelectItem]").prop('checked',false);
            item = 0;
            count=[];
        }
    };

    function btSelectItem(index){
        if($("#btSelectItem"+index).is(':checked')==true) {
            count.push(index);
            item++;
        }else{
            var k = count.indexOf(index);
            if (k > -1) {
                count.splice(k, 1);
            }
            item--;
        }
        if(item==datalength){
            $("input[name=btSelectAll]").prop('checked',true);
        }else{
            $("input[name=btSelectAll]").prop('checked',false);
        }
    }

    function delall() {
        if(count.length<=0){
            layer.msg('未选择数据',{time:1000});return;
        }
        //询问框
        layer.confirm('是否删除多条记录？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            ids = count.join(',');
            $.ajax({
                url:"{:url('index/cms.rdsystem/delete')}",
                type:'post',
                data : {id:ids,diyname:'Project'},
                success : function(data){
                    if(data.code==1){
                        layer.msg(data.msg,{time: 500});
                        location.reload();
                    }else{
                        layer.msg('删除失败',{time: 500});
                    }
                }
            });
        }, function(){
            //
        });
    }

    function Export(){
        if(count.length==0){
            layer.msg('请选择要导出的项目',{time:500});
        }else if(count.length>1){
            layer.msg('请选择单条进行导出',{time:500});
        }else if(count.length==1){
            let id = count[0];
            let year = $("#Selectyear").val();
            location.href="/index/cms.rdsystem/ExportExcel?id="+id+"&year="+year;
            // window.location.url="{:url('index/cms.rdsystem/ExportExcel')}"+'?id='+count[0];
        }
    }
    function ExportHz(){
        let year = $("#Selectyear").val();
        if(year==''){
            layer.msg('请选择年份',{time:1000});
            return;
        }
        location.href="/index/cms.rdsystem/exportSummary?year="+year;
    }

    //解决报错但不影响功能
    function SlyarErrors() {
        return true;
    }
    window.onerror = SlyarErrors;
</script>
<script src="/assets/libs/layui/layui.js"></script>
<script>
    layui.use('upload', function(){
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#btn-import-file' //绑定元素
            ,url: "{:url('admin/ajax/upload')}" //上传接口
            ,accept: 'file' //允许上传的文件类型
            ,data: {diyname:'Project'}
            ,done: function(res){
                $.ajax(
                    {
                        type: "post",
                        url: "{:url('index/cms.rdsystem/import')}",
                        data: {file:res.data.url,diyname:'Project'},
                        success: function (data) {
                            var router = layui.router();
                            var page = router.search.page;//弹出提示 “1”


                            location.reload();
                        }
                    });
                //上传完毕回调
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });
</script>
<div class="container mt-20 list">
    <div id="content-container" class="container">
        <div class="row">
            <div class="col-md-3">
                {include file="common/sidenav" /}
            </div>
            <div class="col-md-9">
                <div class="panel panel-default panel-user">
                    <div class="panel-body">
                        <div class="page-header panel-post">
                            <h2>研发项目情况</h2>
                            <em style="font-size: 10px">为保证数据的有效性，请先<a href="{:url('index/cms.rdsystem/importtips')}">下载模板</a>，并根据模板写入数据，再进行导入</em>
                            <br>
                            <a href="{:url('index/cms.diyform/index?diyname=Project')}" class="btn btn-success btn-add" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                            <a href="javascript:;" class="btn btn-danger btn-del btn-disabled" onclick="delall();" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>
                            <a href="javascript:;" class="btn btn-danger btn-import" title="{:__('Import')}" id="btn-import-file" data-url="ajax/upload" data-mimetype="csv,xls,xlsx" data-multiple="false"><i class="fa fa-upload"></i> {:__('导入')}</a>
                            <!--<a href="javascript:;" class="btn btn-success btn-export" title="{:__('导出')}" id="btn-export-file" onclick="Export();"><i class="fa fa-download"></i> {:__('辅助账导出')}</a>-->
                            <!--<a href="javascript:;" class="btn btn-success btn-export" title="{:__('汇总导出')}" id="btn-export-file-hz" onclick="ExportHz();"><i class="fa fa-download"></i> {:__('辅助账汇总导出')}</a>-->
                        </div>
                        <form class="form-horizontal form-commonsearch nice-validator n-default n-bootstrap" novalidate="" method="get" action="/index/cms.rdsystem/project">
                            <fieldset>
                                <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4"><label for="status" class="control-label col-xs-4">年份</label>
                                    <div class="col-xs-8">
                                        <!--<input type="hidden" class="form-control operate" name="year" data-name="year" value="=" readonly="">-->
                                        <select class="form-control" name="year" id="Selectyear">
                                            <option value="">选择</option>
                                            <option value="2019" {:$year=="2019" ? "selected" : ''}>2019</option>
                                            <option value="2018" {:$year=="2018" ? "selected" : ''}>2018</option>
                                            <option value="2017" {:$year=="2017" ? "selected" : ''}>2017</option>
                                            <option value="2016" {:$year=="2016" ? "selected" : ''}>2016</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="col-sm-8 col-xs-offset-4">
                                        <!--<button type="submit" class="btn btn-success" formnovalidate="">筛选</button>-->
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <?php if(!empty($items)){ ?>
                        <div class="row">
                            <table class="table table-bordered table-hover" lay-even lay-skin="nob">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" class="btnSelectAll" name="btSelectAll" onclick="btSelectAll();"></th>
                                    <!--<th>id</th>-->
                                    <th>项目编号</th>
                                    <th>研发项目名称</th>
                                    <th>项目起始日期</th>
                                    <th>项目完成日期</th>
                                    <th>研发经费总预算</th>
                                    <th style="text-align: center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name='items' id='item'}
                                <tr>
                                    <th><input type="checkbox" class="btnSelectItem" name="btSelectItem" id="btSelectItem{$item.id}" val="{$item.id}" onclick="btSelectItem({$item.id});"></th>
                                    <!--<th>{$item.id}</th>-->
                                    <th>{$item.project_number}</th>
                                    <th>{$item.project_name}</th>
                                    <th>{$item.QH34}</th>
                                    <th>{$item.QH35}</th>
                                    <th>{$item.Budget}</th>
                                    <th style="text-align: center">
                                        <a href="javascript:;" class="edit" onclick="edit({$item.id})">编辑</a>
                                        <a href="javascript:;" class="edit" onclick="del({$item.id})">删除</a></th>
                                </tr>
                                {/volist}

                                </tbody>
                            </table>
                        </div>
                        <?php }else{ ?>
                        <hr>
                        <div class="row" style="text-align: center">
                             {:__('暂无数据')}
                        </div>
                        <?php } ?>
                        <hr>

                        {$data->render()}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
