<style>
    .panel-post {
        position: relative;
    }

    .btn-post {
        position: absolute;
        right: 0;
        bottom: 10px;
    }

    .img-border {
        border-radius: 5px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    }
    input[type="file"]{
        display: none;
    }
</style>
<script src="/assets/libs/jquery/dist/jquery.js"></script>
<script src="/assets/libs/fastadmin-layer/dist/layer.js"></script>

<script>
    $(function () {
        $("#Selectyear").on('change', function () {
            var year = $(this).val();
            location.href = "/index/cms.rdsystem/reporting?year=" + year;
        });
    });

    //单项目辅助账导出
    function Export(e){
            let year = $("#Selectyear").val();
            location.href="/index/cms.rdsystem/ExportExcel?id="+e+"&year="+year;
    }
    //辅助账汇总导出
    function ExportHz(){
        let year = $("#Selectyear").val();
        if(year==''){
            layer.msg('请选择年份',{time:1000});
            return false;
        }
        location.href="/index/cms.rdsystem/exportSummary?year="+year;
    }
    //辅助账归集导出
    function ExportGj(){
        let year = $("#Selectyear").val();
        if(year==''){
            layer.msg('请选择年份',{time:1000});
            return false;
        }
        location.href="/index/cms.rdsystem/exportCollect?year="+year;
    }

    //导出所有项目辅助账
    function ExportAll(){
        let year = $("#Selectyear").val();
        if(year==''){
            layer.msg('请选择年份',{time:1000});
            return false;
        }
        location.href="/index/cms.rdsystem/exportJgmx?year="+year;
    }

    //解决报错但不影响功能
    function SlyarErrors() {
        return true;
    }
    window.onerror = SlyarErrors;
</script>
<div class="container mt-20 list">
    <div id="content-container" class="container">
        <div class="row">
            <div class="col-md-3">
                {include file="common/sidenav" /}
            </div>
            <div class="col-md-9">
                <div class="panel panel-default panel-user">
                    <div class="panel-body">
                        <div class="page-header panel-post">
                            <h2>研发项目报表</h2>
                        </div>
                        <form class="form-horizontal form-commonsearch nice-validator n-default n-bootstrap" novalidate="" method="get" action="/index/cms.rdsystem/project">
                            <fieldset>
                                <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4"><label for="status" class="control-label col-xs-4">年份</label>
                                    <div class="col-xs-8">
                                        <!--<input type="hidden" class="form-control operate" name="year" data-name="year" value="=" readonly="">-->
                                        <select class="form-control" name="year" id="Selectyear">
                                            <option value="">选择</option>
                                            <option value="2019" {:$year=="2019" ? "selected" : ''}>2019</option>
                                            <option value="2018" {:$year=="2018" ? "selected" : ''}>2018</option>
                                            <option value="2017" {:$year=="2017" ? "selected" : ''}>2017</option>
                                            <option value="2016" {:$year=="2016" ? "selected" : ''}>2016</option>
                                        </select>
                                    </div>
                                </div>
                                <a href="javascript:;" class="btn btn-success btn-export" title="{:__('导出')}" id="btn-export--all" onclick="ExportAll();"><i class="fa fa-download"></i> {:__('研发费用结构明细表导出')}</a>
                                <a href="javascript:;" class="btn btn-success btn-export" title="{:__('汇总导出')}" id="btn-export-file-hz" onclick="ExportHz();"><i class="fa fa-download"></i> {:__('辅助账汇总导出')}</a>
                                <a href="javascript:;" class="btn btn-success btn-export" title="{:__('导出')}" id="btn-export-file-hgj" onclick="ExportGj();"><i class="fa fa-download"></i> {:__('费用归集导出')}</a>
                            </fieldset>
                        </form>
                        <?php if(!empty($items)){ ?>
                        <div class="row">
                            <table class="table table-bordered table-hover" lay-even lay-skin="nob">
                                <thead>
                                <tr>
                                    <th>项目编号</th>
                                    <th>研发项目名称</th>
                                    <th>项目起始日期</th>
                                    <th>项目完成日期</th>
                                    <th style="text-align: center">研发支出辅助账导出</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name='items' id='item'}
                                <tr>
                                    <th>{$item.project_number}</th>
                                    <th>{$item.project_name}</th>
                                    <th>{$item.QH34}</th>
                                    <th>{$item.QH35}</th>
                                    <th style="text-align: center">
                                        <a href="javascript:;" class="btn btn-success btn-export" title="{:__('导出')}" id="btn-export-file" onclick="Export({$item.id});"><i class="fa fa-download"></i> {:__('导出')}</a>
                                </tr>
                                {/volist}

                                </tbody>
                            </table>
                        </div>
                        <?php }else{ ?>
                        <hr>
                        <div class="row" style="text-align: center">
                            {:__('暂无数据')}
                        </div>
                        <?php } ?>
                        <hr>

                        {$data->render()}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
