{if $page>1}
    {foreach name="commentList" id="comment"}
    {include file="common/commentitem"/}
    {/foreach}
{else/}
    <div class="comment-list">
        {foreach name="commentList" id="comment"}
        {include file="common/commentitem"/}
        {/foreach}
    </div>

    {if $page==1&&$commentList->count()==0}
    <div class="my-2 comment-nodata">暂无评论，快来发表评论吧</div>
    {/if}

    {if $commentList->hasPages()}
    <div class="m-2 text-center">
        <a href="javascript:;" class="btn btn-default btn-md btn-morecomment" data-id="{$Think.get.id}" data-type="{$Think.get.type}" data-page="{:$page+1}">加载更多</a>
    </div>
    {/if}

    <div class="comment-post">
        {include file="common/commentpost"/}
    </div>
{/if}